SIGGRAPH_2017/Unity/AI4Animation_Data/sharedassets0.assets
SIGGRAPH_2017/Unity/Assets/Demo/Adam/Adam/Parameters.asset
SIGGRAPH_2017/Unity/Assets/Demo/Adam/Parameters.asset
SIGGRAPH_2017/Unity/Build/AI4Animation_Data/sharedassets0.assets
SIGGRAPH_2017/Unity/Library/PlayerDataCache/Win64/Data/sharedassets0.assets
